.avatar-component {
    padding: 30px 20px;

    display: flex;
    justify-content: space-between;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;

      display: inline-block;
      border: 1px solid #000;
    }
    .info {
      padding-left: 10px;
      flex: 1;
      .nickname {
      
      }
      .motto {
        
      }
    }
}