{
  "presets": [
    [
      "@babel/preset-react",
      {
        "useBuiltIns": false,  // 不要为每个文件添加polyfill
        "debug": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime", "react-hot-loader/babel"]
}
