* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body, #root {
    height: 100%;;
}
a { text-decoration: none; }
li { list-style: none; }


// common 
.white-text {
    color: #f4f4f4;
}
.small-text {
    font-size: 8px;
}

// react-spring animated componnent is a pure div
.animated {
    transition: 1s;
}

