.nav {
    width: 100%;
    height: 60px;
    padding: 15px 0;
    background-color: #6fa7e4;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-evenly;

    &-title {
        margin: 0;
        padding: 0;
        font-size: 22px;
        // font-weight: 700;
        line-height: 30px;

        position: relative;
        // top: 2px;
        // left: 6px;
    }
}